<!-- basic scripts -->

<!--[if !IE]> -->
<script src="${(ctx)!''}/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="${(ctx)!''}/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
	if ('ontouchstart' in document.documentElement)
		document
				.write("<script src='${(ctx)!''}/js/jquery.mobile.custom.min.js'>"
						+ "<"+"/script>");
</script>
<script src="${(ctx)!''}/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
  <script src="${(ctx)!''}/js/excanvas.min.js"></script>
<![endif]-->
<script src="${(ctx)!''}/js/jquery-ui.min.js"></script>
<script src="${(ctx)!''}/js/jquery-ui.custom.min.js"></script>
<script src="${(ctx)!''}/js/jquery.ui.touch-punch.min.js"></script>
<script src="${(ctx)!''}/js/bootbox.js"></script>

<script src="${(ctx)!''}/js/bootstrap-datepicker.min.js"></script>
<script src="${(ctx)!''}/js/bootstrap-timepicker.min.js"></script>
<script src="${(ctx)!''}/js/moment.min.js"></script>
<script src="${(ctx)!''}/js/bootstrap-datetimepicker.min.js"></script>

<script src="${(ctx)!''}/js/jquery.easypiechart.min.js"></script>
<script src="${(ctx)!''}/js/jquery.sparkline.index.min.js"></script>
<script src="${(ctx)!''}/js/jquery.flot.min.js"></script>
<script src="${(ctx)!''}/js/jquery.flot.pie.min.js"></script>
<script src="${(ctx)!''}/js/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->
<script src="${(ctx)!''}/js/ace-elements.min.js"></script>
<script src="${(ctx)!''}/js/ace.min.js"></script>
<script src="${(ctx)!''}/js/pagetoolbar.js"></script>

<script type="text/javascript"
	src="${(ctx)!''}/js/jquery.validate.min.js"></script>
