<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <property name="AppName" value="ssm" />
    <!-- 控制台日志 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${AppName} %d %-5p [%thread] %c:%L - %m%n</pattern>
        </encoder>
    </appender>
    <!-- 错误日志 -->
    <appender name="errorFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${AppName}/error.log</File>
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error/error_%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <!-- 日志过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>ERROR</level> 
            <onMatch>ACCEPT</onMatch> 
            <onMismatch>DENY</onMismatch> 
        </filter> 
    </appender>
    <!-- debug日志 -->
    <appender name="debugFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${AppName}/debug.log</File>
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug/debug_%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
        <!-- 日志过滤器 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
            <level>DEBUG</level> 
            <onMatch>ACCEPT</onMatch> 
            <onMismatch>DENY</onMismatch> 
        </filter> 
    </appender>
    <!-- 数据库访问较慢的语句 -->
    <appender name="sqlFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/${AppName}/slow.log</File>
        <encoder>
            <pattern>%d [%thread] %c:%L-%m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/sql/slow_%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false" level="DEBUG">
        <appender-ref ref="sqlFile" />
    </logger>
    
    <logger name="com.demos" level="DEBUG" >
        <appender-ref ref="debugFile" />
    </logger>
    
    
    <root level="ERROR">
        <appender-ref ref="stdout" />
        <appender-ref ref="errorFile" />
    </root>
</configuration>