<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demos.mapper.MenuMapper">
	<resultMap type="com.demos.model.Menu" id="resultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="parent" property="parent" jdbcType="VARCHAR"/>
		<result column="index" property="index" jdbcType="INTEGER"/>
		<result column="valid" property="valid" jdbcType="INTEGER"/>
		<result column="remake" property="remake" jdbcType="VARCHAR"/>
		<collection property="com.demos.model.Role" column="id" select="com.demos.mapper.RelationMapper.listRole"></collection>
	</resultMap>
	<select id="list" resultMap="resultMap">
		select
			*
		from menu
		where 1=1
		<if test="menu != null">
			<if test="menu.id != null and menu.id != ''">
				and role.id = id
			</if>
			<if test="menu.name != null and menu.name != ''">
				and menu.name = #{menu.name}
			</if>
		</if>
		limit #{pageIndex},#{pageSize}
	</select>
</mapper>