<!DOCTYPE html>
<html lang="zh">
	<style>
		label.error {
			line-height: 30px;
			font-size: 14px;
			color: red;
		}
		
		label.hint {
			line-height: 30px;
			font-size: 12px;
			color: #B0B0B0;
		}
	</style>
<#include "../common/head.html" />
<body class="no-skin">
	<#include "../common/navbar.html" />
	<div class="main-container ace-save-state" id="main-container">
		<!-- bootstap-ace样式 -->
		<script type="text/javascript">
                try{ace.settings.loadState('main-container')}catch(e){}
        </script>
        
        <#include "../common/sidebar.html" />
        
		

        
        
		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a></li>
						<li class="active">菜单管理</li>
					</ul>
				</div>
				<div class="page-content">
					<div class="page-header">
						<h1>
							菜单管理 <small> <i class="ace-icon fa fa-angle-double-right"></i>
								overview
							</small> <label style="float: right;">
								<button class="btn btn-white btn-info btn-bold" id="addBtn">
									<i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>添加
								</button>
							</label>
						</h1>
					</div>
					
				 <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			        <div class="modal-dialog" style="width: 700px;">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                    <h4 class="modal-title" id="myModalLabel">添加菜单</h4>
			                </div>
			                <div class="modal-body" id="dialog_model" style="text-align: center;">
			                    <form action="" method="post" id="addForm">
			                        <label style="margin-bottom: 10px;">菜单名称：</label> 
			                        <input type="text" class="form-control input-250" name="name"  id="add_name"/>
			                        <br>
			                        
			                        <label  style="margin-bottom: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;URL：</label> 
			                        <input type="text" class="form-control input-250" name="pageurl"  id="add_pageurl"/>
			                        <br>
			                        <label  style="margin-bottom: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;序号：</label> 
			                        <input type="text" class="form-control input-250" name="sort"  id="add_sort"/>
			                        <br>
			                        <label style="margin-bottom: 10px;">是否有效：</label>
			                        <select name="state" class="form-control input-250" id="add_state">
			                           <option value="1">有效</option>
			                           <option value="0">无效</option>
			                        </select>
			                        <br>
			                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注：</label> 
			                        <input type="text" class="form-control input-250" name="remark"  id="add_remark"/>
			                        <input type="hidden" name="id" id="add_id">
			                        <input type="hidden" name="pid"  id="add_pid"/>
			                        <input type="hidden" name="leaf"  id="add_leaf"/>
			                    </form>
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_dialog_close">Close</button>
			                    <button type="button" class="btn btn-primary" onclick="submitMenu();" id="btn_dialog_submit">提交数据</button>
			                </div>
			            </div>
			        </div>
			    </div>	
					
				<div class="row">
					<div class="col-md-4">
					<button type="button" id="addBtn" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-plus" aria-hidden="true">添加主菜单
					</button>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>菜单名称</th>
							<th>父菜单</th>
							<th>url地址</th>
							<th>序号</th>
							<th>是否有效</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				</div>
			</div>
			
		</div>



		
		<#include "../common/footer.html" />
	</div>
	<#include "../common/script.html" />
	<script type="text/javascript">
		$("#addBtn").click(function(){
			$("#addModal").modal({
				backdrop: static
			});
		});
    </script>
</body>
</html>
